# FastAPI
# --------------------------------------------------------------------------------------------------
fastapi==0.70.1  # https://github.com/tiangolo/fastapi
fastapi-mqtt==0.4.0  # https://github.com/sabuhish/fastapi-mqtt

# Adapter for using ASGI applications with AWS Lambda & API Gateway
mangum==0.12.3  #  https://github.com/jordaneremieff/mangum

pydantic==1.8.2  # https://github.com/samuelcolvin/pydantic
uvicorn==0.16.0  # https://github.com/encode/uvicorn

# Logging
loguru==0.5.3  # https://github.com/Delgan/loguru
