-r requirements.txt

pytest>=6.2.0,<7.0.0  # https://github.com/pytest-dev/pytest
# Switch to dev release for a while, see https://github.com/spulec/moto/issues/4750
Moto >= 2.3.2.dev2  # https://github.com/spulec/moto
